<h1>Liste aller Anmeldungen</h1>
<table id="erstis" border="1" style="width:100%;">
<thead>
<tr>
  <th>Aktion</th>
  <th>Nr.</th>
  <th>Name</th>
  <th>Vorname</th>
  <th>E-Mail</th>
  <th>Straße</th>
  <th>Ort</th>
  <th>Tel-Nr.</th>
  <th>Geburtstag (Alter jetzt/Fahrt)</th>
  <th>Studiengang</th>
  <th>Vegetarier</th>
  <th>Veganer</th>
  <th>Bemerkungen</th>
</tr>
</thead>
<tbody>
<% i = 0 %>
<% @users.each do |user| %>
  <% if user.details_present? and !user.admin? %>
  <tr>
    <td><%= button_to "X", registration_path(user, :user => user), :data => { :confirm => "Are you sure?" }, :method => :delete %></td>
    <td><%= i+=1 %></td>
    <td <% case user.gender 
      when 1 %> class="male" 
    <% when 2 %> class="female" >
    <% end%>><%= user.lname %></td>
    <td <% case user.gender 
      when 1 %> class="male" 
    <% when 2 %> class="female" >
    <% end%>><%= user.fname %></td>
    <td><%= user.email %></td>
    <td><%= user.street %> <%= user.streetno %></td>
    <td><%= user.zip %> <%= user.place %></td>
    <td><%= user.phone %></td>
    <td><%= user.birthday.strftime('%d.%m.%Y') %> (<%= age_at(user.birthday) %>/<%= age_at(user.birthday,Time.new(2013,11,1,9,30,0)) %>)</td>
    <td><% case user.study 
       when 0 %>2-Fach Bachelor
      <% when 1 %>Landschaftsökologie 
      <% when 2 %>Geographie
      <% when 3 %>Geoinformatik 
    <% end %></td>
    <td><%= "X" unless user.vegetarian == false %></td>
    <td><%= "X" unless user.vegan == false %></td>
    <td><%= user.comment %></td>
  </tr>
  <% end %>
<% end %>
</tbody>
</table>