%div{class:"row"}
  %div{class:"small-9 large-centered columns"}
    %h2 Allgemeine Konfiguration

= form_for(@config, html:{class:"custom"}) do |f|
  = render 'shared/error_messages', object: f.object

  %div{class:"row"}
    %div{class:"large-12 columns"}
      = f.label :mail_port, 'Warteliste offen'
      = f.check_box :waiting_list_open

  %div{class:"row"}
    %div{class:"large-12 columns"}
      = f.label :beginning, 'Beginn des Erstiwochenendes (mit Abfahrt)'
    %div{class:"small-6 columns"}
      = f.text_field :beginning_date
    %div{class:"small-3 columns"}
      #{f.select :beginning_hour, (0..23)}
    %div{class:"small-3 columns"}
      = f.select :beginning_min, [0,15,30,45]

  %div{class:"row"}
    %div{class:"large-12 columns"}
      = f.label :ending, 'Ende des Erstiwochenendes (Abfahrt in Drübberholz)'
    %div{class:"small-6 columns"}
      = f.text_field :ending_date
    %div{class:"small-3 columns"}
      #{f.select :ending_hour, (0..23)}
    %div{class:"small-3 columns"}
      = f.select :ending_min, [0,15,30,45]

  %div{class:"row"}
    %div{class:"large-12 columns"}
      = f.label :mail_adress, 'Von dieser Adresse werden die E-Mails verschickt'
      = f.text_field :mail_adress

  %div{class:"row"}
    %div{class:"large-12 columns"}
      = f.label :mail_server, 'SMTP-Server'
      = f.text_field :mail_server

  %div{class:"row"}
    %div{class:"large-12 columns"}
      = f.label :mail_user, 'User für Mail-Server'
      = f.text_field :mail_user

  %div{class:"row"}
    %div{class:"large-12 columns"}
      = f.label :mail_password, 'Passwort Mail-Server (leer lassen wenn nicht geändert werden soll)'
      = f.password_field :mail_password

  %div{class:"row"}
    %div{class:"large-12 columns"}
      = f.label :mail_port, 'Mail Port'
      = f.text_field :mail_port

  %div{class:"row"}
    %div{class:"large-12 columns"}
      = f.label :registration_complete_mail, 'Bestätigungsmail (Wer keine Ahnung hat, soll die Finger davon lassen!)'
      = f.text_area :registration_complete_mail, rows: 10, style: "height: auto;", value: AppConfig.first.registration_complete_mail.html_safe
      = button_to_function "Text zurücksetzen", "undo_mail_changes(false)", class: "button small"
      = button_to_function "Komplett zurücksetzen", "undo_mail_changes(true)", class: "button small"

  %div{class:"row"}
    %div{class:"small-6 large-centered columns"}
      = f.submit "Speichern", class: "button expand radius success"

:javascript
  $('#app_config_beginning_date').fdatepicker({format:'yyyy-mm-dd'});
  $('#app_config_ending_date').fdatepicker({format:'yyyy-mm-dd'});

  function undo_mail_changes(hard) {
    $.ajax({url: 'http://localhost:3000/app_config/reset_mail'+(hard===true ? '_hard' : '')}).done(function( data ) {
      $('#app_config_registration_complete_mail').val(data);
    });
  }


