<h1>Ticket einlösen</h1>
<%= render 'shared/error_messages', object: @ticket %>
<%= form_for @ticket, url: { action: 'redeem', controller: 'tickets' } do |f| %>
<%= f.label :token, "Ticket" %>
<%= f.text_field :token %>
<%= f.label :email, "E-Mail" %>
<%= f.text_field :email %>
<%= f.submit "Einlösen" %>
<% end %>