<h1>Ticket einlösen</h1>

<%= form_tag action: 'redeem' do %>
<%= label_tag "Ticket" %>
<%= text_field_tag(:ticket) %>
<%= label_tag "E-Mail" %>
<%= text_field_tag(:email) %>
<%= submit_tag "Einlösen" %>
<% end %>