- content_for(:override_width, true)
%div{class:"row"}
  %div{class:"small-9 large-centered columns"}
    %h2 Liste aller Anmeldungen


%table{style:"width:100%;!important"}
  %thead
    %tr
      %th Aktion
      %th Nr.
      %th Ticket-Code
      %th Name
      %th Vorname
      %th E-Mail
      %th Straße
      %th Ort
      %th Tel-Nr.
      %th Geburtstag (Alter jetzt/Fahrt)
      %th Studiengang
      %th Vegetarier
      %th Veganer
      %th Bemerkungen
  %tbody
    - i = 0
    - resource_class.all.each do |user|
      - if user.details_present? and !user.admin? and !user.withdrawn
        %tr
          %td
            %a{id: "withdraw_link#{user.id}", onclick: "$(\"span#withdraw#{user.id}\").show();$(this).hide();"} × 
            %span{id: "withdraw#{user.id}", style:'display:none'}
              = form_for(user, :url => registration_path(user), :html => {:method => :delete }) do |f|
                = f.hidden_field :id, value: user.id
                = f.text_field :withdraw_comment
                = f.submit "×"    
                %a{onclick: "$(\"a#withdraw_link#{user.id}\").show();$(\"span#withdraw#{user.id}\").hide();"} Abbrechen
            = link_to "✎", edit_user_path(user),  :method => :get
          %td
            = i+=1
          %td
            = user.ticket.token
          %td{class: gender_color(user.gender)}
            = user.lname
          %td{class: gender_color(user.gender)}
            = user.fname
          %td
            = user.email
          %td
            = user.street
          %td
            = user.zip
          %td
            = user.phone
          %td
            = user.birthday.strftime('%d.%m.%Y')
            (#{age_at(user.birthday)}, #{age_at(user.birthday,AppConfig.first.beginning)})
          %td{class: study_color(user.study)}
            - str_study user.study
          %td{class: attention_color(user.vegetarian)}
            - yes_no_helper user.vegetarian
          %td{class: attention_color(user.vegan)}
            - yes_no_helper user.vegan
          %td
            -if user.from_waiting_list
              *von Warteliste*
            = user.comment

%div{class:"row"}
  %div{class:"small-9 large-centered columns"}
    %h3 Unvollständige Anmeldungen

%div{class:"row"}
  %div{class:"small-9 columns"}
    %table{style:"width:100%;!important"}
      %thead
        %tr
          %th Aktion
          %th Ticket-Code
          %th E-Mail
      %tbody
        - resource_class.all.each do |user|
          - if !user.details_present? and !user.admin?
            %tr
              %td
                = link_to "×", erase_user_path(user), :data => { :confirm => "Sicher?" }, :method => :delete
                = link_to "✎", edit_user_path(user),  :method => :get
              %td
                = user.ticket.token
              %td
                = user.email
                = '(unbestätigt)' if !user.confirmed?


%div{class:"row"}
  %div{class:"small-9 large-centered columns"}
    %h3 Abgemeldete Anmeldungen

%div{class:"row"}
  %div{class:"small-9 columns"}
    %table{style:"width:100%;!important"}
      %thead
        %tr
          %th Ticket-Code
          %th Grund
          %th E-Mail
      %tbody
        - resource_class.all.each do |user|
          - if user.withdrawn and !user.admin?
            %tr
              %td
                = user.ticket.token
              %td
                = user.withdraw_comment
              %td
                = user.email
